header {
  max-height: 100vh;
  height: 831px;
  .header-text {
    position: absolute;
    bottom: 80px;
    left: 0;
  }
  h1 {
    text-align: right;
    font-size: 160px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 2.8px;
    line-height: 80px;
    span {
      font-size: 84px;
      font-weight: 500;
      letter-spacing: 5.8px;

    }
  }
  img {
    position: absolute;
    bottom: 80px;
    right: 0;
    max-width: 160px;
  }
}
